/* font family */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.noto-sans-mono-<uniquifier> {
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-display-<uniquifier> {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

*{
    padding: none;
    margin: none;
}
body{
    background-color: #ffffff;
    color: #041e49;
    font-family: "Noto Sans Display", sans-serif;
    margin: 18px 40px;
    overflow-x: hidden;
}
.button{
    padding: 5px 32px;
    color: #041e49;
    border: 1px solid #041e49;
    border-radius: 4px;
    text-decoration: none;
}
.button:hover{
    background-color: #041e49;
    color: white;
    text-decoration: underline;
}

/* nav-bar style starts */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar a, .nav-bar li{
    text-decoration: none;
    color: #041e49;
    list-style: none;
    font-weight: 500;
}
.nav-logo-menu, .nav-menu, .menu{
    display: flex;
    align-items: center;
    padding: 0;
}
.menu li{
    padding: 3px;
    margin: 0 12px;
}
.menu li:hover, .console-switch a:hover{
    text-decoration: underline;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    margin: 4px 12px 4px 0;
}
.nav-logo svg{
    width: 40px;
}
.nav-switch{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.separator{
    background-color: #9c9c9c;
    width: 1px;
    height: 26px;
}
.nav-switch a svg{
    color: #041e49;
    width: 28px;
    margin: 3px;
}
.nav-switch a svg:hover{
    width: 22px;
    transition: all ease-in 6ms;
}

@media (max-width: 767px){

    .nav-menu, .console-switch{
        display: none;
    } 
}
/* nav-bar style ends */

/* hero section style starts */
.hero{
    position: relative;
    padding: 1.5rem 0 0 0;
}
.bg-text{
    color: #808080b4;
    font-family: "Work Sans", sans-serif;
    font-size: 380px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 14vh;
    z-index: -3;
}
.bg-shape{
    background-color: #7cacf8cc;
    width: 100vw;
    height: 95vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 60px 0;
    z-index: -2;
}
.hero h1{
    font-family: "Noto Sans Mono", monospace;
    max-width: 65vw;
    font-size: 3rem;
}
.hero h1:hover{
    text-decoration: underline;
}
.hero p{
    font-weight: 600px;
}
.page-name{
    font-size: 20px;
    font-weight: 500;
}
.profile-card{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    max-width: 55vw;
}
.profile-pic img{
    width: 120px;
    border-radius: 20px 0 20px 0;
}
.profile{
    display: flex;
}
.profile-details{
    margin: 0 12px;
}
.name{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.designation, .date{
    font-size: 16px;
    margin: 0;
}
.date{
    position: absolute;
    bottom: 12px;
    font-family: "Noto Sans Mono", monospace;
}
.tags{
    text-align: right;
}
.tags .button{
    display: inline-block;
    margin: 3px 0;
}

@media (max-width: 767px){

    .hero h1{
        max-width: 90vw;
        font-size: 40px;
    }
    .profile-card{
        max-width: 80vw;
    } 
    .name, .page-name{
        font-size: 18px;
    }
    .designation, .date{
        font-size: 14px;
    }
}
/* hero section style ends */